h1 {
    text-align: center;
    background-color: lightsteelblue;
    font-size: xxx-large;
}
h2 {
    text-align: center;
    background-color: lightsteelblue;
    font-size: x-large;
}
body{
    background-color: lightsteelblue;
}

/*Requirement 5,6,7,8*/
.question-box {
    border-radius: 5px;
    border: 4px solid #ccc;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
    background-color: #f0f0f0;
    text-align: center;
}

.question-box input{
    margin-right: 40px;
}

.comment-box {
    border-radius: 5px;
    border: 4px solid #ccc;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
    height: 150px;
    background-color: #f0f0f0;
    text-align: center;
}

.comment-box #comment{
    margin-top: -5px;
    width: 90%;
    height: 70%;
    resize: none;
}